<div class="container-fluid">
<article>
  <h1><%= @recipe.title %></h1>
  <p><%= @recipe.ingredient_list.html_safe %></p>
  <% if @recipe.vegetarian? %>
    <%= image_tag("vegetarian.png", alt: "Vegetarian", class: "vegetarian") %>
  <% end %>
  <p><%= @recipe.instructions %></p>
</article>

<h2>Comments</h2>

<%= render 'comments/comments' %>

<%= render 'comments/form' %>
</div>

