<article>
  <h1><%= @recipe.title %></h1>
  <ul>
    <li><%= @recipe.ingredient_list %></li>
  </ul>
  <p><%= @recipe.instructions %></p>

<h2>Comments</h2>
  <% @comments.each do |comment| %>
    <p><%= comment.name %>, <%= comment.body %> <%= button_to 'Delete Comment', recipe_comment_destroy_path(@recipe,comment), method: :delete, data: { confirm: 'Are you sure?'} %> </p>
  <% end %>

<%= render 'comments/form' %>

