<article>
  <h1><%= @recipe.title %></h1>
  <ul>
    <li><%= @recipe.ingredient_list %></li>
  </ul>
  <p><%= @recipe.instructions %></p>

  <%= vegetarian %>
</article>

<h2>Comments</h2>

<%= render 'comments/comments' %>

<%= render 'comments/form' %>

